services:
  jidalli:
    image: jidalli
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./:/app
    environment:
      - DATABASE_URL=sqlite:///./jidalli.db      
