# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]==0.128.0
uvicorn[standard]==0.40.0
gunicorn==21.2.0
sqlmodel >=0.0.31
jinja2 >=3.1.6
python-multipart >=0.0.21
python-jose >=3.5.0
passlib >=1.7.4
pydantic[email] >=2.12.5
python-dotenv >=1.2.1